div {
  max-width: 500px;
  border: 1px solid aliceblue;
  margin: 60px auto;
  min-height: 250px;
  background: aliceblue;
}
h1 {
  color: red;
}
table {
  margin: 0 auto;
}
td {
  padding: 10px 0;
}