body {
  max-width: 1000px;
  border: 1px solid #0022ff9e;
  margin: 0 auto;
}
.wrapper-top {
  display: flex;
  align-items: center;
  justify-content: center;

}

.wrapper-top h1 {
  font-size: 50px;
  color: blue;
  margin: 10px 0;
}

.wrapper-top h1 .what {
  font-size: 40px;
}

.wrapper-top h1 .where {
  font-size: 30px;
}

.wrapper-top img {
  max-height: 80px;
  margin-left: 50px;
}
.wrapper-content {
  display: flex;
  border-top: 1px solid #0022ff9e;
  margin: 0;
}
.wrapper-content .right-section {
  border-left: 1px solid #0022ff9e;
}
.left-section {
  padding-right: 20px;
}
.left-section ul li {
  white-space: nowrap;
  list-style: circle;
}
h3 {
  background: #0022ff9e;
  color: #fff;
  margin: 0;
  padding: 10px 5px;
}
h4.title {
  color: blue;
  margin: 5px;
}
.content {
  padding: 5px;
  display: flex;
}
.content img {
  max-width: 200px;
}
.content p {
  margin-top: 0;
  padding-left: 10px;
}
.content a {
  display: flex;
  flex-direction: row-reverse;
}
.content ul {
  width: 70%;
}